PUBLIC_SITE_URL=https://arsenalguard.com
PUBLIC_PLAUSIBLE_DOMAIN=
RESEND_API_KEY=
CONTACT_TO_EMAIL=fetrajohny05@gmail.com
CONTACT_FROM_EMAIL="Arsenal Guard <contact@arsenalguard.com>"
NOTION_API_KEY=
NOTION_DATABASE_ID=
